.btn {
  border-width: 2px;
}
body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Jost', sans-serif;
  font-size: 3.7rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 4.625rem;
}
.display-2 {
  font-family: 'Jost', sans-serif;
  font-size: 3.2rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 4rem;
}
.display-4 {
  font-family: 'Jost', sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.75rem;
}
.display-5 {
  font-family: 'Jost', sans-serif;
  font-size: 1.9rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.375rem;
}
.display-7 {
  font-family: 'Jost', sans-serif;
  font-size: 1.7rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 2.125rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 2.96rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.59rem;
    font-size: calc( 1.945rem + (3.7 - 1.945) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (1.945rem + (3.7 - 1.945) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.56rem;
    font-size: calc( 1.77rem + (3.2 - 1.77) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.77rem + (3.2 - 1.77) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.52rem;
    font-size: calc( 1.315rem + (1.9 - 1.315) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.315rem + (1.9 - 1.315) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.36rem;
    font-size: calc( 1.245rem + (1.7 - 1.245) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.245rem + (1.7 - 1.245) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #04b853 !important;
}
.bg-success {
  background-color: #763464 !important;
}
.bg-info {
  background-color: #a50702 !important;
}
.bg-warning {
  background-color: #b8001e !important;
}
.bg-danger {
  background-color: #fbc718 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #04b853 !important;
  border-color: #04b853 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #02632d !important;
  border-color: #02632d !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #02632d !important;
  border-color: #02632d !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #305e9f !important;
  border-color: #305e9f !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #1c375c !important;
  border-color: #1c375c !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #1c375c !important;
  border-color: #1c375c !important;
}
.btn-info,
.btn-info:active {
  background-color: #a50702 !important;
  border-color: #a50702 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #4f0301 !important;
  border-color: #4f0301 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #4f0301 !important;
  border-color: #4f0301 !important;
}
.btn-success,
.btn-success:active {
  background-color: #763464 !important;
  border-color: #763464 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #3a1931 !important;
  border-color: #3a1931 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #3a1931 !important;
  border-color: #3a1931 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #b8001e !important;
  border-color: #b8001e !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #610010 !important;
  border-color: #610010 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #610010 !important;
  border-color: #610010 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #fbc718 !important;
  border-color: #fbc718 !important;
  color: #140f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #b98f03 !important;
  border-color: #b98f03 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #140f00 !important;
  background-color: #b98f03 !important;
  border-color: #b98f03 !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #04b853;
  color: #04b853;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #02632d !important;
  background-color: transparent!important;
  border-color: #02632d !important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #04b853 !important;
  border-color: #04b853 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #305e9f;
  color: #305e9f;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #1c375c !important;
  background-color: transparent!important;
  border-color: #1c375c !important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #305e9f !important;
  border-color: #305e9f !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #a50702;
  color: #a50702;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #4f0301 !important;
  background-color: transparent!important;
  border-color: #4f0301 !important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #a50702 !important;
  border-color: #a50702 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #763464;
  color: #763464;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #3a1931 !important;
  background-color: transparent!important;
  border-color: #3a1931 !important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #763464 !important;
  border-color: #763464 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #b8001e;
  color: #b8001e;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #610010 !important;
  background-color: transparent!important;
  border-color: #610010 !important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #b8001e !important;
  border-color: #b8001e !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #fbc718;
  color: #fbc718;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #b98f03 !important;
  background-color: transparent!important;
  border-color: #b98f03 !important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #140f00 !important;
  background-color: #fbc718 !important;
  border-color: #fbc718 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: #000000 !important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: #cfcfcf !important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #04b853 !important;
}
.text-secondary {
  color: #305e9f !important;
}
.text-success {
  color: #763464 !important;
}
.text-info {
  color: #a50702 !important;
}
.text-warning {
  color: #b8001e !important;
}
.text-danger {
  color: #fbc718 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #025426 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #183051 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #2f1528 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #400301 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #52000d !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #aa8403 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #04b853;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #a50702;
}
.alert-warning {
  background-color: #b8001e;
}
.alert-danger {
  background-color: #fbc718;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #04b853;
  border-color: #04b853;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #04b853;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #41fb92;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #be6ca8;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #fc312a;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ff3959;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #fef8e1;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Jost', sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.75rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #04b853 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Jost', sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.75rem;
}
blockquote {
  border-color: #04b853;
}
/* Forms */
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #04b853;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #04b853;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #04b853;
  border-bottom-color: #04b853;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #04b853 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #305e9f !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%2304b853' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-tOkOvntcy8 {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #035f8f;
}
.cid-tOkOvntcy8 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tOkOvntcy8 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tOkOvntcy8 .mbr-section-subtitle {
  color: #ffe161;
}
.cid-tOkOvntcy8 .mbr-section-title {
  color: #ffffff;
}
.cid-tLIQW5eRwA {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #e9f7ff;
}
.cid-tLIQW5eRwA .mbr-text {
  text-align: center;
  color: #000000;
}
.cid-tC6kC9iokN {
  padding-top: 0rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-tC6kC9iokN .mbr-fallback-image.disabled {
  display: none;
}
.cid-tC6kC9iokN .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tC6kC9iokN .oldcost {
  text-decoration: line-through;
  color: #a4a1a1;
}
.cid-tC6kC9iokN .currentcost {
  color: #332642;
}
.cid-tC6kC9iokN .card-wrapper {
  border-radius: 4px;
  background: #ffffff;
}
@media (min-width: 992px) {
  .cid-tC6kC9iokN .text-box {
    padding: 2rem;
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-tC6kC9iokN .text-box {
    padding: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-tC6kC9iokN .text-box {
    padding: 1rem;
  }
}
.cid-tC6kC9iokN .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-tC6kC9iokN H5 {
  color: #c1bbcd;
}
.cid-tC6kC9iokN .mbr-text,
.cid-tC6kC9iokN .cost,
.cid-tC6kC9iokN .mbr-section-btn {
  color: #000000;
}
.cid-tC6vT33ClT {
  padding-top: 0rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-tC6vT33ClT .mbr-fallback-image.disabled {
  display: none;
}
.cid-tC6vT33ClT .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tC6vT33ClT .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tC6vT33ClT .row {
  flex-direction: row-reverse;
}
.cid-tC6vT33ClT img {
  width: 100%;
}
.cid-tC6vT33ClT .mbr-description {
  text-align: center;
  color: #000000;
}
.cid-tOxPeD32j0 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-tOxPeD32j0 .line {
  background-color: #589864;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-tOxPeD32j0 .mbr-text {
  color: #000000;
}
.cid-tUMutQAiwz {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #e9f7ff;
}
.cid-tUMutQAiwz .mbr-fallback-image.disabled {
  display: none;
}
.cid-tUMutQAiwz .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tUMutQAiwz .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tUMutQAiwz .row {
  flex-direction: row-reverse;
}
.cid-tUMutQAiwz img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-tUMutQAiwz .text-wrapper {
    padding: 2rem;
  }
}
.cid-tUMutQAiwz .mbr-section-title {
  text-align: center;
  color: #0471a9;
}
.cid-tDEXG4P62y {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-tDEXG4P62y .mbr-fallback-image.disabled {
  display: none;
}
.cid-tDEXG4P62y .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tDEXG4P62y .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tDEXG4P62y .row {
  flex-direction: row-reverse;
}
.cid-tDEXG4P62y img {
  width: 100%;
}
.cid-tDEYmOtqZS {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #305e9f;
}
.cid-tDEYmOtqZS .mbr-fallback-image.disabled {
  display: none;
}
.cid-tDEYmOtqZS .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tDEYmOtqZS .mbr-section-subtitle {
  color: #ffe161;
}
.cid-tDEYmOtqZS .mbr-section-title {
  color: #ffffff;
}
.cid-tLCBQ6fiOH {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #fafafa;
}
.cid-tLCBQ6fiOH img,
.cid-tLCBQ6fiOH .item-img {
  width: 100%;
}
.cid-tLCBQ6fiOH .item:focus,
.cid-tLCBQ6fiOH span:focus {
  outline: none;
}
.cid-tLCBQ6fiOH .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-tLCBQ6fiOH .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-tLCBQ6fiOH .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-tLCBQ6fiOH .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-tLCBQ6fiOH .mbr-section-btn {
  margin-top: auto !important;
}
.cid-tLCBQ6fiOH .mbr-section-title {
  color: #232323;
}
.cid-tLCBQ6fiOH .mbr-text,
.cid-tLCBQ6fiOH .mbr-section-btn {
  text-align: left;
}
.cid-tLCBQ6fiOH .item-title {
  text-align: left;
}
.cid-tLCBQ6fiOH .item-subtitle {
  text-align: left;
}
.cid-tLIRgGC7dT {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tLIRgGC7dT blockquote {
  border-color: #e43f3f;
  border-radius: 4px;
  background-color: #ffe219;
}
.cid-tLIRgGC7dT .mbr-text {
  color: #e43f3f;
  text-align: center;
}
.cid-tOlyYNBOKU {
  padding-top: 2rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-tOlyYNBOKU .mbr-fallback-image.disabled {
  display: none;
}
.cid-tOlyYNBOKU .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tOlyYNBOKU .card:not(:nth-last-child(1)) {
  margin-bottom: 2rem;
}
.cid-tOlyYNBOKU .card-wrapper {
  background-color: #305e9f;
  border-radius: 4px;
}
.cid-tOlyYNBOKU .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-tOlyYNBOKU .social-row .soc-item {
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin-right: 0.6rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 2px solid #6592e6;
  transition: all 0.3s;
}
.cid-tOlyYNBOKU .social-row .soc-item .mbr-iconfont {
  display: flex;
  justify-content: center;
  align-content: center;
  color: #6592e6;
  font-size: 1.5rem;
  transition: all 0.3s;
}
.cid-tOlyYNBOKU .social-row .soc-item:hover {
  background-color: #6592e6;
}
.cid-tOlyYNBOKU .social-row .soc-item:hover .mbr-iconfont {
  color: #ffffff;
}
@media (max-width: 767px) {
  .cid-tOlyYNBOKU .card-box {
    padding: 1rem;
  }
}
@media (min-width: 768px) {
  .cid-tOlyYNBOKU .card-box {
    padding-right: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tOlyYNBOKU .card-box {
    padding-left: 2rem;
    padding-right: 4rem;
  }
}
.cid-tOlyYNBOKU .card-subtitle {
  color: #ffffff;
}
.cid-tOlyYNBOKU .mbr-text,
.cid-tOlyYNBOKU .social-row {
  color: #ffffff;
}
.cid-tC6KWVHYgG {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #305e9f;
}
.cid-tC6KWVHYgG .mbr-fallback-image.disabled {
  display: none;
}
.cid-tC6KWVHYgG .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tC6KWVHYgG .mbr-section-title {
  color: #ffffff;
}
.cid-tOlxkCMHTJ {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-tOlxkCMHTJ .mbr-fallback-image.disabled {
  display: none;
}
.cid-tOlxkCMHTJ .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tOlxkCMHTJ .embla__slide {
  display: flex;
  justify-content: center;
  position: relative;
  min-width: 570px;
  max-width: 570px;
}
@media (max-width: 768px) {
  .cid-tOlxkCMHTJ .embla__slide {
    min-width: 70%;
    max-width: initial;
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }
}
.cid-tOlxkCMHTJ .embla__button--next,
.cid-tOlxkCMHTJ .embla__button--prev {
  display: flex;
}
.cid-tOlxkCMHTJ .embla__button {
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-tOlxkCMHTJ .embla__button:disabled {
  cursor: default;
  display: none;
}
.cid-tOlxkCMHTJ .embla__button:hover {
  background: #000;
  color: rgba(255, 255, 255, 0.5);
}
.cid-tOlxkCMHTJ .embla__button.embla__button--prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-tOlxkCMHTJ .embla__button.embla__button--next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 768px) {
  .cid-tOlxkCMHTJ .embla__button {
    top: auto;
  }
}
.cid-tOlxkCMHTJ .user_image {
  width: 200px;
  height: 200px;
  margin-bottom: 1.6rem;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto 2rem auto;
}
.cid-tOlxkCMHTJ .user_image .item-wrapper {
  width: 200px;
  height: 200px;
}
.cid-tOlxkCMHTJ .user_image img {
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}
@media (max-width: 230px) {
  .cid-tOlxkCMHTJ .user_image {
    width: 100%;
    height: auto;
  }
}
.cid-tOlxkCMHTJ .embla {
  position: relative;
  width: 100%;
}
.cid-tOlxkCMHTJ .embla__viewport {
  overflow: hidden;
  width: 100%;
}
.cid-tOlxkCMHTJ .embla__viewport.is-draggable {
  cursor: grab;
}
.cid-tOlxkCMHTJ .embla__viewport.is-dragging {
  cursor: grabbing;
}
.cid-tOlxkCMHTJ .embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.cid-tC6F8X0NiF {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #305e9f;
}
.cid-tC6F8X0NiF .mbr-fallback-image.disabled {
  display: none;
}
.cid-tC6F8X0NiF .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tC6F8X0NiF .mbr-section-title {
  color: #ffffff;
}
.cid-tLCBZfhFoZ {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tLCBZfhFoZ .mbr-fallback-image.disabled {
  display: none;
}
.cid-tLCBZfhFoZ .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tLCBZfhFoZ .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tLCBZfhFoZ img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-tLCBZfhFoZ .text-wrapper {
    padding: 2rem;
  }
}
.cid-tLCC1ehyyM {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tC6GpBERZH {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #305e9f;
}
.cid-tC6GpBERZH .mbr-fallback-image.disabled {
  display: none;
}
.cid-tC6GpBERZH .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tC6GpBERZH .mbr-section-title {
  color: #ffffff;
}
.cid-tLD1GDlAqP {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tLD1GDlAqP .mbr-fallback-image.disabled {
  display: none;
}
.cid-tLD1GDlAqP .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tLD1GDlAqP .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tLD1GDlAqP img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-tLD1GDlAqP .text-wrapper {
    padding: 2rem;
  }
}
.cid-tV2WAqXFJa {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tV2WAqXFJa .counter-container ul {
  margin: 0;
  list-style: none;
  padding-left: 2.5rem;
}
.cid-tV2WAqXFJa .counter-container ul li {
  margin-bottom: 1rem;
  list-style: none;
  position: relative;
  padding-left: 1rem;
}
.cid-tV2WAqXFJa .counter-container ul li:before {
  position: absolute;
  left: -40px;
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #000000;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 5px;
  content: "✓";
}
.cid-tC6OcaqT9T {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #305e9f;
}
.cid-tC6OcaqT9T .mbr-fallback-image.disabled {
  display: none;
}
.cid-tC6OcaqT9T .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tC6OcaqT9T .mbr-section-subtitle {
  color: #ffe161;
}
.cid-tC6OcaqT9T .mbr-section-title {
  color: #ffffff;
}
.cid-tV3mHFB4Ee {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #fafafa;
}
.cid-tV3mHFB4Ee img,
.cid-tV3mHFB4Ee .item-img {
  width: 100%;
}
.cid-tV3mHFB4Ee .item:focus,
.cid-tV3mHFB4Ee span:focus {
  outline: none;
}
.cid-tV3mHFB4Ee .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-tV3mHFB4Ee .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-tV3mHFB4Ee .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-tV3mHFB4Ee .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-tV3mHFB4Ee .mbr-section-btn {
  margin-top: auto !important;
}
.cid-tV3mHFB4Ee .mbr-section-title {
  color: #232323;
}
.cid-tV3mHFB4Ee .mbr-text,
.cid-tV3mHFB4Ee .mbr-section-btn {
  text-align: left;
}
.cid-tV3mHFB4Ee .item-title {
  text-align: left;
}
.cid-tV3mHFB4Ee .item-subtitle {
  text-align: left;
}
.cid-tLIRjEJfMU {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tLIRjEJfMU blockquote {
  border-color: #e43f3f;
  border-radius: 4px;
  background-color: #ffe219;
}
.cid-tLIRjEJfMU .mbr-text {
  color: #e43f3f;
  text-align: center;
}
.cid-tC6PGkyh3f {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #305e9f;
}
.cid-tC6PGkyh3f .mbr-fallback-image.disabled {
  display: none;
}
.cid-tC6PGkyh3f .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tC6PGkyh3f .mbr-section-title {
  color: #ffffff;
}
.cid-tC6PGkyh3f .mbr-section-subtitle {
  color: #ffe161;
}
.cid-tC6QY5gvP8 {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tC6QY5gvP8 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tC6QY5gvP8 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tC6QY5gvP8 .oldcost {
  text-decoration: line-through;
  color: #353535;
}
.cid-tC6QY5gvP8 .currentcost {
  color: #332642;
}
.cid-tC6QY5gvP8 .card-wrapper {
  border-radius: 4px;
  background: #ffffff;
}
@media (min-width: 992px) {
  .cid-tC6QY5gvP8 .text-box {
    padding: 2rem;
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-tC6QY5gvP8 .text-box {
    padding: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-tC6QY5gvP8 .text-box {
    padding: 1rem;
  }
}
.cid-tC6QY5gvP8 .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-tC6QY5gvP8 H5 {
  color: #332642;
}
.cid-tV4eoPjdL7 {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tV4eoPjdL7 .counter-container ul {
  margin: 0;
  list-style: none;
  padding-left: 2.5rem;
}
.cid-tV4eoPjdL7 .counter-container ul li {
  margin-bottom: 1rem;
  list-style: none;
  position: relative;
  padding-left: 1rem;
}
.cid-tV4eoPjdL7 .counter-container ul li:before {
  position: absolute;
  left: -40px;
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #000000;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 5px;
  content: "✓";
}
.cid-tC6SGp52t9 {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #305e9f;
}
.cid-tC6SGp52t9 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tC6SGp52t9 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tC6SGp52t9 .mbr-section-title {
  color: #ffffff;
}
.cid-tKjZMWoVrR {
  padding-top: 3rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tKjZMWoVrR .mbr-fallback-image.disabled {
  display: none;
}
.cid-tKjZMWoVrR .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tKjZMWoVrR .item {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
@media (min-width: 991px) {
  .cid-tKjZMWoVrR .item {
    margin-bottom: 4rem;
  }
}
.cid-tKjZMWoVrR .item:last-child .icon-box:before {
  display: none;
}
.cid-tKjZMWoVrR .item.last .icon-box:before {
  display: none;
}
.cid-tKjZMWoVrR .icon-box {
  background: #305e9f;
  width: 60px;
  min-width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media (max-width: 768px) {
  .cid-tKjZMWoVrR .icon-box {
    margin-right: 1rem;
  }
}
.cid-tKjZMWoVrR .icon-box::before {
  content: "\e925";
  font-family: Moririse2 !important;
  position: absolute;
  font-size: 32px;
  left: 50%;
  top: 120%;
  color: #305e9f;
  transform: translate(-50%, 0);
}
.cid-tKjZMWoVrR span {
  font-size: 2rem;
  color: #ffffff;
}
@media (max-width: 991px) {
  .cid-tKjZMWoVrR .card {
    margin-bottom: 2rem;
  }
  .cid-tKjZMWoVrR .card-wrapper {
    margin-bottom: 2rem;
  }
  .cid-tKjZMWoVrR .icon-box::before {
    top: 141%;
  }
}
@media (max-width: 768px) {
  .cid-tKjZMWoVrR .icon-box::before {
    top: 114%;
  }
}
.cid-tKjZMWoVrR .icon-title {
  color: #305e9f;
}
.cid-tKjZMWoVrR .mbr-text,
.cid-tKjZMWoVrR .mbr-section-btn {
  text-align: left;
}
.cid-tKjZMWoVrR .card-title,
.cid-tKjZMWoVrR .card-box {
  text-align: left;
}
.cid-tC9KHR9neT {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #305e9f;
}
.cid-tC9KHR9neT .mbr-fallback-image.disabled {
  display: none;
}
.cid-tC9KHR9neT .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tC9KHR9neT .mbr-section-title {
  color: #ffffff;
}
.cid-tP0OcTMSpn {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tP0OcTMSpn .counter-container ul {
  margin: 0;
  list-style: none;
  padding-left: 2.5rem;
}
.cid-tP0OcTMSpn .counter-container ul li {
  margin-bottom: 1rem;
  list-style: none;
  position: relative;
  padding-left: 1rem;
}
.cid-tP0OcTMSpn .counter-container ul li:before {
  position: absolute;
  left: -40px;
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #000000;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 5px;
  content: "✓";
}
.cid-tLrnnBkRvL {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tLrnnBkRvL blockquote {
  border-color: #000000;
  border-radius: 4px;
  background-color: #305e9f;
}
.cid-tLrnnBkRvL .mbr-section-title {
  color: #ffffff;
}
.cid-tLrnnBkRvL .mbr-text {
  color: #ffffff;
}
.cid-tC9MpW3T17 {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #305e9f;
}
.cid-tC9MpW3T17 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tC9MpW3T17 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tC9MpW3T17 .mbr-section-subtitle {
  color: #ffe161;
}
.cid-tC9MpW3T17 .mbr-section-title {
  color: #ffffff;
}
.cid-tV3mKDyz0i {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #fafafa;
}
.cid-tV3mKDyz0i img,
.cid-tV3mKDyz0i .item-img {
  width: 100%;
}
.cid-tV3mKDyz0i .item:focus,
.cid-tV3mKDyz0i span:focus {
  outline: none;
}
.cid-tV3mKDyz0i .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-tV3mKDyz0i .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-tV3mKDyz0i .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-tV3mKDyz0i .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-tV3mKDyz0i .mbr-section-btn {
  margin-top: auto !important;
}
.cid-tV3mKDyz0i .mbr-section-title {
  color: #232323;
}
.cid-tV3mKDyz0i .mbr-text,
.cid-tV3mKDyz0i .mbr-section-btn {
  text-align: left;
}
.cid-tV3mKDyz0i .item-title {
  text-align: left;
}
.cid-tV3mKDyz0i .item-subtitle {
  text-align: left;
}
.cid-tLrmUccq6h {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tLrmUccq6h blockquote {
  border-color: #000000;
  border-radius: 4px;
  background-color: #305e9f;
}
.cid-tLrmUccq6h .mbr-section-title {
  color: #ffffff;
}
.cid-tLrmUccq6h .mbr-text {
  color: #ffffff;
}
.cid-tLq4rLK2Ru {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #305e9f;
}
.cid-tLq4rLK2Ru .mbr-fallback-image.disabled {
  display: none;
}
.cid-tLq4rLK2Ru .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tLq4rLK2Ru .mbr-section-subtitle {
  color: #ffe161;
}
.cid-tLq4rLK2Ru .mbr-section-title {
  color: #ffffff;
}
.cid-tLq9nB9jlC {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tLq8N9FZdR {
  padding-top: 0rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-tLq8N9FZdR .mbr-fallback-image.disabled {
  display: none;
}
.cid-tLq8N9FZdR .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tLq8N9FZdR .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tLq8N9FZdR .row {
  flex-direction: row-reverse;
}
.cid-tLq8N9FZdR img {
  width: 100%;
}
.cid-tC9MFJM3NW {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #305e9f;
}
.cid-tC9MFJM3NW .mbr-fallback-image.disabled {
  display: none;
}
.cid-tC9MFJM3NW .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tC9MFJM3NW .mbr-section-title {
  color: #ffffff;
}
.cid-tC9MPPIU3G {
  padding-top: 3rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tC9MPPIU3G .mbr-fallback-image.disabled {
  display: none;
}
.cid-tC9MPPIU3G .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tC9MPPIU3G .mbr-iconfont {
  font-size: 1.4rem !important;
  font-family: 'Moririse2' !important;
  color: #04b853;
  margin-left: 1rem;
}
.cid-tC9MPPIU3G .panel-group {
  border: none;
}
.cid-tC9MPPIU3G .panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cid-tC9MPPIU3G .panel-body,
.cid-tC9MPPIU3G .card-header {
  padding: 1rem 0;
}
.cid-tC9MPPIU3G .panel-title-edit {
  color: #000000;
}
.cid-tC9MPPIU3G .card .card-header {
  background-color: transparent;
  margin-bottom: 0;
}
.cid-tCzI9aivOI {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #fafafa;
}
.cid-tCzI9aivOI .mbr-fallback-image.disabled {
  display: none;
}
.cid-tCzI9aivOI .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tCzI9aivOI .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tCzI9aivOI .row {
  flex-direction: row-reverse;
}
.cid-tCzI9aivOI img {
  width: 100%;
}
.cid-tCa1kL1ZY7 {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #305e9f;
}
.cid-tCa1kL1ZY7 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tCa1kL1ZY7 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tCa1kL1ZY7 .mbr-section-title {
  color: #ffffff;
}
.cid-tCa6PWasEk {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-tCa6PWasEk .mbr-fallback-image.disabled {
  display: none;
}
.cid-tCa6PWasEk .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tCa6PWasEk .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tCa6PWasEk .row {
  flex-direction: row-reverse;
}
.cid-tCa6PWasEk img {
  width: 100%;
}
.cid-tCaadJOr1a {
  padding-top: 0rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-tCaadJOr1a .mbr-fallback-image.disabled {
  display: none;
}
.cid-tCaadJOr1a .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tCaadJOr1a .mbr-section-title {
  color: #9a1127;
}
.cid-tCaadJOr1a .mbr-text,
.cid-tCaadJOr1a .mbr-section-btn {
  color: #000000;
}
.cid-tCcavRjxav {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #232323;
}
.cid-tCcavRjxav .row-links {
  width: 100%;
  justify-content: center;
}
.cid-tCcavRjxav .social-row {
  width: 100%;
  justify-content: center;
}
.cid-tCcavRjxav .media-container-row {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cid-tCcavRjxav .media-container-row .foot-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-tCcavRjxav .media-container-row .foot-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-tCcavRjxav .media-container-row .foot-menu li p {
  margin: 0;
}
.cid-tCcavRjxav .media-container-row .social-list {
  width: auto;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.cid-tCcavRjxav .media-container-row .social-list .mbr-iconfont-social {
  font-size: 1.5rem;
  color: #ffffff;
}
.cid-tCcavRjxav .media-container-row .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-tCcavRjxav .media-container-row .social-list a {
  margin: 0;
  opacity: .5;
  transition: .2s linear;
}
.cid-tCcavRjxav .media-container-row .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-tCcavRjxav .media-container-row .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-tCcavRjxav .media-container-row .row-copirayt {
  word-break: break-word;
  width: 100%;
}
.cid-tCcavRjxav .media-container-row .row-copirayt p {
  width: 100%;
}
.cid-tCcavRjxav .media-container-row .mbr-text {
  text-align: center;
}
.cid-tCbzm5Oncf {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tCbzm5Oncf .mbr-fallback-image.disabled {
  display: none;
}
.cid-tCbzm5Oncf .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tCbzm5Oncf .mbr-section-subtitle {
  text-align: left;
}
.cid-tCbxFhr0KU {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tCbxFhr0KU .mbr-fallback-image.disabled {
  display: none;
}
.cid-tCbxFhr0KU .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tCbxFhr0KU .mbr-section-subtitle {
  text-align: left;
}
.cid-tCbA1tZggE {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tCbA1tZggE .mbr-fallback-image.disabled {
  display: none;
}
.cid-tCbA1tZggE .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tCbA1tZggE .mbr-section-subtitle DIV {
  text-align: left;
}
.cid-tCbA1tZggE .mbr-section-subtitle {
  text-align: left;
}
